.home-page {
    background: url('/home/coder/project/workspace/reactapp/public/image.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Arial', sans-serif;
    height: 100vh; 
    width: 100vw; 
    position: relative;
    margin: 0;
    padding: 0;
<<<<<<< HEAD
    overflow: hidden;
}

=======
    overflow: hidden; 
}
>>>>>>> 590c2d94933dfc6878bb4f91c54c945d521c44df
.home-page::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit !important;
<<<<<<< HEAD
    filter: blur(10px) brightness(50%) !important; 
    z-index: -1 !important;
=======
    filter: blur(10px) brightness(50%) !important;
    z-index: -1 !important; 
>>>>>>> 590c2d94933dfc6878bb4f91c54c945d521c44df
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: (90deg,rgba(0, 0, 0, 0.2)rgba(0, 0, 0, 0.2));
  color: #fff;
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: center; 
  
  border: 5px solid transparent; 
  background-clip: padding-box; 
}

.footer:hover {
  border-color: #f4f2ef; 
}

.footer .footer-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #611616;
  text-decoration: none;
  font-size: 1.2rem; 
  gap: 5px;
}

.footer .footer-center p {
  margin: 5px 0;
  color: #611616;
  font-family:Arial, sans-serif !important;
  font-weight: bold;
}

.footer .footer-center p:hover {
  color: #f3f1ed; 
}
.wel {
  font-size: 1.5rem; 
  color: rgb(58, 43, 18); 
  line-height: 1.8;
  position: absolute;
  top: 50%; 
  left: 50%; 
  padding: 20px;
  transform: translate(-50%, -50%); 
  max-width: 700px; 
  text-align: center; 
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 2px 2px 5px rgba(190, 129, 129, 0.3); 
  background: #f3f1ed;
  border-radius: 20px; 
  box-shadow: 0px 10px 25px rgb(79, 0, 0); 
  border: 3px solid #7d6a49; 
  letter-spacing: 0.5px;
  word-spacing: 2px;
}