.place-form-container {
    margin-top: 50px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.place-form-container h2 {
    margin-bottom: 20px;
}

.place-form-container .form-group {
    margin-bottom: 15px;
}

.place-form-container .btn {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
}

.text-danger {
    color: red;
}
