.container {
    margin-top: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.text-success h2, .text-danger h2 {
    font-size: 1.5rem;
}

.table {
    margin-top: 20px;
}

.table th {
    text-align: center;
    background-color: #007bff;
    color: white;
    vertical-align: middle;
}
.table td{
    color: black;
    background-color: white;
    margin: 0;
}


.btn {
    margin: 5px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}
